<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts$"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="forecasts$" matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="Date">Date</th>
      <th mat-sort-header="TempC">Temp. (C)</th>
      <th mat-sort-header="TempF">Temp. (F)</th>
      <th mat-sort-header="Summary">Summary</th>
    </tr>
    <tr *ngFor="let forecast of forecasts$">
      <td>{{ forecast.dt_txt }}</td>
      <td>{{ forecast.main.temp }}</td>
      <td>{{ celsiusToFahrenheit(forecast.main.temp)}}</td>
      <td>{{ forecast.weather[0].description }}</td>
    </tr>
</table>

