<ngb-carousel >
  <ng-template ngbSlide>
    <img src="assets/src/Szczecin1.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h1><a class="bolded">Stetin</a> the place to be </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/src/Szczecin5.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <h1><a class="bolded">Stetin</a> the place to be </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/src/Szczecin6.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h1><a class="bolded">Stetin</a> the place to be </h1>
    </div>
  </ng-template>
</ngb-carousel>
